@{
 
    Layout = "LayoutCustom";

}


<h1 class="fs-1 p-4 text-center">
    Questa pizzeria è sorta per omaggiare il sommo <span class="yellow">Paolo</span> .

</h1>

<p class="p-3 rounded-4">Ma chi è <span class="yellow">Paolo</span>? qualche sprovveduto potrebbe chiedersi. </p>

<div>
    <p class="p-3 fs-1 rounded-4"><span class="yellow">Paolo</span> è il santo protettore dei programmatori, il pastore prende ogni junior in difficoltà sotto la propria ala per proteggerlo dai bug sommministrandogli la conoscenza come antidoto all'ignoranza.</p>

    <p class="p-3 fs-1 rounded-4">La sua crociata contro il temibile incantatore di sviluppatori alle prime armi noto come "<span class="red">GPT</span>" è leggendaria, Le sue gesta vengono cantate dai bardi di tutto il mondo e i figli dei programmatori vengono tutt'oggi chiamati col suo nome in segno di omaggio.</p>
</div>


<style>
    body {
        color: white; 
        
         
       
    }
   
    p {
        background-color: darkslateblue;
    }

    .yellow {
        color: yellow;
    }

    .red {
        color: red;
    }
</style>


@*    __
    <(o )___
     ( ._> /    Quack.
      `---'
*@